@font-face{
     font-family: CzcionkaDekoracyjna;
     src:url(fonts/Playball-Regular.ttf)
}
  
@font-face {
     font-family: CzcionkaDoTekstow;
     src: url(fonts/Forum-Regular.ttf);
}
  
body{
     position: relative;
     background-color:rgba(169, 116, 73, 0.973);
     font-family: CzcionkaDekoracyjna;
     font-size: 30px;
     height: 100%;
     padding: 0px !important;
     margin: 0px !important;
}

.podstrona_naglowek{
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     padding: 50px;
     margin: 20px auto;
     /* position: absolute;  */
     /* top: 150px;  */
     /* left: 90px; */
     font-size: 55px;
     color: rgb(0, 0, 0);
     margin-bottom: 10%;
  }

.kontener1{
     position: relative;
     width: 100%; 
     text-align: center;
     bottom: 150px;
}

.kontener1 a{
     text-decoration: none;
}

.obrazek_link_do_kaw{
   position: relative;
   float: none;
   /* top: 2100px; */
   /* left: 90px; */
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/zdj_kawa.png);
   transition: all 0.4s;
}

.obrazek_link_do_jedzenia{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/zdj_jedzenie.jpg);
   transition: all 0.4s;
}

.obrazek_link_do_napojow{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: white;
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/zdj_napoje.jpg);
   transition: all 0.4s;
}


.obrazek_link_do_kaw:hover, .obrazek_link_do_jedzenia:hover, .obrazek_link_do_napojow:hover, .obrazek_link_do_kaw_podstrona_menu:hover, .obrazek_link_do_jedzenia_podstrona_menu:hover, .obrazek_link_do_napojow_podstrona_menu:hover{
    font-size: 60px;
    filter: brightness(0.5);
}

.divy1{
     display: inline-block; 
     vertical-align: top; 
     margin: 0 10px; 
     width: calc((100% - 40px) / 3); 
     max-width: 444px;
     height: 396px; 
     font-size: 40px;
     color: rgb(255, 255, 255);
     background-size: cover;
     filter: brightness(1);
     transition: all 0.4s;
 }
 .divy1:hover {
     font-size: 48px;
     filter: brightness(0.5);
 } 
