@font-face{
     font-family: CzcionkaDekoracyjna;
     src:url(fonts/Playball-Regular.ttf)
}

@font-face {
   font-family: CzcionkaDoTekstow;
   src: url(fonts/Forum-Regular.ttf);
}

body{
    position: relative;
    background-color:rgba(169, 116, 73, 0.973);
    /* font-family: 'IM Fell DW Pica'; */
    font-family: CzcionkaDekoracyjna;
    font-size: 30px;
    height: 100%;
    /* padding-bottom: 6.74rem; */
    /*padding: 0;
    margin: 0;*/
    padding: 0px;
    margin: 0px;
}

.footer{
   position: fixed;
   height: 50px;
   width: 100%;
   bottom: 0;
   font-family: CzcionkaDoTekstow;
   font-size: 20px;
   text-align: center;
   background-color: rgb(0, 0, 0, 0.8);
   color: white;
   padding-bottom: 15px;
}

.dane_autora{
   position: relative;
   top: 50%;
}
  
.naglowek{
    z-index: 1;
    /*position: absolute;*/
    background-color: white;
    width: 100%;
    height: 110px;
    box-shadow: 2px 2px 2px #000000;
    margin-right: 0;
    align-items: center;
    justify-content: space-between;
}
  
.naglowek a {
     font-size: 25px;
     padding: 0px;
     color: #000000;
     text-decoration: none;
     margin: 0 10px; 
}
 
 .naglowek a:hover {
   color: rgba(169, 116, 73, 0.973);
 }

.nawigacja{
     position: relative;
     bottom: 10%;
     overflow: hidden;
}

.nawigacja a:last-child {
     float: right;
     margin-right: 5%;
}

  
.logo{
     position: relative; 
     left: 20px;
     float: left;
     width: 200px;
     height: 100px;
     background-image: url(images/logo.png);
}

.podstrona_naglowek{
     /*position: absolute; 
     top: 150px;
     left: 90px;
     font-size: 55px;
     color: rgb(0, 0, 0);*/

     position: relative;
     top: 80px;
     margin-left: auto;
     margin-right: auto;
     font-size: 70px;
     color: rgb(0, 0, 0);
     padding-left: 15px;
     width: 1469px;
}  

.ogloszenia{
     /* position: absolute;  */
     background-color: rgb(254, 240, 205);
     margin-top: 150px;
     margin-left: auto;
     margin-right: auto;
     width: 1469px;
     /* left: 5%; */
     /* width: 90%; */
     /* height: 350px; */
     font-family: CzcionkaDoTekstow;
     padding-bottom:0;
     position: relative;
     box-shadow: 2px 2px 2px #000000;
}

.ogloszenie1{
 margin-top: 150px;
}

.ogloszenie2{
   /* top: 700px; */
   margin-top: 50px;
}

.ogloszenie3{
   /* top: 1100px; */
   margin-top: 50px;
   margin-bottom: 10%;
}

.informacje{
     padding-left: 15px;
     font-family: CzcionkaDoTekstow;
     padding-top: 5px;
     padding-right: 15px;
}

.daty_dodania{
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px; 
}
  
.edytuj {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.edytuj:hover{
     color: rgb(0, 0, 0);
  }