@font-face{
     font-family: CzcionkaDekoracyjna;
     src:url(fonts/Playball-Regular.ttf)
}
  
@font-face {
     font-family: CzcionkaDoTekstow;
     src: url(fonts/Forum-Regular.ttf);
}
  
body{
     position: relative;
     background-color:rgba(169, 116, 73, 0.973);
     font-family: CzcionkaDekoracyjna;
     font-size: 30px;
     height: 100%;
     padding: 0px !important;
     margin: 0px !important;
}
  
.footer{
     position: fixed;
     height: 50px;
     width: 100%;
     bottom: 0;
     font-family: CzcionkaDoTekstow;
     font-size: 20px;
     text-align: center;
     background-color: rgb(0, 0, 0, 0.8);
     color: rgb(255, 255, 255);
     padding-bottom: 15px;
}

.dane_autora{
     position: relative;
     top: 50%;
}

.naglowek{
     z-index: 1;
     background-color: rgb(255, 255, 255);
     width: 100%;
     height: 110px;
     box-shadow: 2px 2px 2px #000000;
     margin-right: 0;
 }
  
.naglowek a {
     font-size: 25px;
     padding: 0px;
     color: #000000;
     text-decoration: none;
     margin: 0 10px; 
}
  
.naglowek a:hover {
     color: rgba(169, 116, 73, 0.973);
}

.nawigacja{
     position: relative;
     bottom: 10%;
     overflow: hidden;
}

.nawigacja a:last-child {
     float: right;
     margin-right: 5%;
}

.logo{
     position: relative; 
     left: 20px;
     float: left;
     width: 200px;
     height: 100px;
     background-image: url(images/logo.png);
}

.kontener1{
     position: relative;
     width: 100%; 
     text-align: center;
     top: 100px;
}

.kontener1 a{
     text-decoration: none;
}

.obrazek_link_do_kaw{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/zdj_kawa.png);
   transition: all 0.4s;
}

.obrazek_link_do_jedzenia{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/zdj_jedzenie.jpg);
   transition: all 0.4s;
}

.obrazek_link_do_napojow{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/zdj_napoje.jpg);
   transition: all 0.4s;
}


.obrazek_link_do_kaw:hover, .obrazek_link_do_jedzenia:hover, .obrazek_link_do_napojow:hover, .obrazek_link_do_kaw_podstrona_menu:hover, .obrazek_link_do_jedzenia_podstrona_menu:hover, .obrazek_link_do_napojow_podstrona_menu:hover{
    font-size: 60px;
    filter: brightness(0.5);
}

.divy1{
     display: inline-block; 
     vertical-align: top; 
     margin: 0 10px; 
     width: calc((100% - 40px) / 3); 
     max-width: 444px;
     height: 396px; 
     font-size: 40px;
     color: rgb(255, 255, 255);
     background-size: cover;
     filter: brightness(1);
     transition: all 0.4s;
 }
 .divy1:hover {
     font-size: 48px;
     filter: brightness(0.5);
 } 
 
.kontener2{
   position: relative;
   width: 100%; 
   text-align: center;
   top: 850px;
}

.kontener2 a{
     text-decoration: none;
}

.znajdz_kawiarnie_na_glownej{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/znajdz_kawiarnie_na_glownej.jpg);
   transition: all 0.4s;
}

.dolacz_do_nas_na_glownej{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/dolacz_do_nas_na_glownej.jpg);
   transition: all 0.4s;
}

.kontakt_na_glownej{
   position: relative;
   float: none;
   width: 444px;
   height: 396px;
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: rgb(255, 255, 255);
   background-size: cover;
   filter: brightness(1);
   background-image: url(images/kontakt_na_glownej.jpg);
   transition: all 0.4s;
}

.znajdz_kawiarnie_na_glownej:hover, .dolacz_do_nas_na_glownej:hover, .kontakt_na_glownej:hover{
   font-size: 48px;
   filter: brightness(0.5);
}
  
.divy2 {
     display: inline-block; 
     vertical-align: top; 
     margin: 0 10px; 
     width: calc((100% - 40px) / 3); 
     max-width: 444px;
     height: 396px; 
     font-size: 40px;
     color: rgb(255, 255, 255);
     background-size: cover;
     filter: brightness(1);
     transition: all 0.4s;
 }
 .divy2:hover {
     font-size: 48px;
     filter: brightness(0.5);
 } 

.zdjecie_startowe{
     position: relative;
     top: 0;
     float: left;
     width: 100%;
     height: 350px;
     background-image: url(images/zdj_startowe.jpg);
}

.zdjecie_opis{
   font-family: CzcionkaDoTekstow;
   margin-top: 400px;
   margin-left: auto;
   margin-right: auto;
   left: 90px;
   width: 1332px;
   height: 250px;
   background-image: url(images/zdj_opis.jpg);
   color: rgb(255, 255, 255);
   box-shadow: 2px 2px 2px #000000;
}

.paragraf_1{
    position: relative; 
    font-size: 45px;
    margin: 5px;
    padding: 15px;
}

.paragraf_2{
    position: relative; 
    font-size: 35px;
    margin: 5px;
    padding: 15px;
}

.informacje_o_nas_na_glownej{
     position: absolute; 
     top: 1400px;
     right: 5%; 
     flex: 1;
}

.informacje_o_nas_na_glownej_opis{
     position: absolute;
     top: 1400px;
     left: 5%; 
     width: 666px;
     height: 480px;
     flex: 1;
}

.paragraf1_informacje{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.paragraf2_informacje{
    font-family: CzcionkaDoTekstow;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.paragraf3_informacje{
    /* display: inline-block; */
    position: relative;
}
  
.paragraf3_informacje:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.paragraf3_informacje:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
 
.sociale{
     background-color: rgb(85, 6, 6);
     color: rgb(255, 255, 255);
     font-size: 25px;
     text-align: center;
     width: 1332px;
     height: 200px; 
     margin-top: 950px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10%;
     box-shadow: 2px 2px 2px #000000;
} 
.social-list {
     list-style-type: none;
     padding: 0;
}

.social-list li {
     margin-bottom: 10px;
}

.social-list a {
     font-family: CzcionkaDoTekstow;
     color: rgb(255, 255, 255);
     text-decoration: none;
     font-size: 20px;
     display: block;
     transition: all 0.4s;
}
 
.social-list a:hover {
    color: rgba(169, 116, 73, 0.973);
}
 
.link_do_informacji{
     text-decoration: none;
     color: rgb(0, 0, 0);
}
 
.link_do_informacji:hover{
     color: rgb(254, 240, 205);
     transition: all 0.4s;
}