body{
    background-color:rgba(169, 116, 73, 0.973);
    font-family: 'IM Fell DW Pica';
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 30px;
    padding: 0px !important;
    margin: 0px !important;
}

#naglowek{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 110px;
}

#logo{
    position: relative; 
    left: 20px;
    float: left;
    width: 200px;
    height: 109px;
    background-image: url(logo.png);
}

#menu{
    position: relative;
    top: 25px; 
    left: 80px;
    float: left;

}

#o_nas{
    position: relative;
    top: 25px; 
    left: 130px;
    float: left;
 }

 #dolacz{
    position: relative;
    top: 25px; 
    left: 180px;
    float: left;
 }

#kontakt{
    position: relative;
    top: 25px; 
    left: 250px;
    float: left;
 }

 #logowanie{
    position: relative;
    top: 25px; 
    left: 330px;
    float: left;
 }

 .naglowki{
    text-decoration: none;
    color: black;
 }

 .naglowki:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
 }

 a:hover:after{
    width: 100%;
 }


 #zdjecie_startowe{
    position: relative; 
    top: 110px;
    float: left;
    width: 100%;
    height: 350px;
    background-image: url(zdj_startowe.jpg);
}

#zdjecie_opis{
    position: absolute; 
    top: 490px;
    left: 90px;
    float: inherit;
    width: 1332px;
    height: 250px;
    background-image: url(zdj_opis.jpg);
    color: white;
}

#paragraf_1{
    position: relative; 
    font-size: 45px;
    margin: 5px;
    padding: 15px;
}

#paragraf_2{
    position: relative; 
    font-size: 35px;
    margin: 5px;
    padding: 15px;
}

#obrazek_link_do_kaw{
    position: absolute;
    float: left;
    top: 800px;
    left: 90px;
    width: 444px;
    height: 396px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    background-size: cover;
    filter: brightness(1);
    background-image: url(zdj_kawa.png);
    transition: all 0.4s;
}

#obrazek_link_do_jedzenia{
    position: absolute;
    float: right;
    top: 800px;
    left: 534px;
    width: 444px;
    height: 396px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    background-size: cover;
    filter: brightness(1);
    background-image: url(zdj_jedzenie.jpg);
    transition: all 0.4s;
}

#obrazek_link_do_napojow{
    position: absolute;
    float: left;
    top: 800px;
    left: 978px;
    width: 444px;
    height: 396px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    background-size: cover;
    filter: brightness(1);
    background-image: url(zdj_napoje.jpg);
    transition: all 0.4s;
}

#obrazek_link_do_kaw:hover, #obrazek_link_do_jedzenia:hover, #obrazek_link_do_napojow:hover{
    font-size: 60px;
    filter: brightness(0.5);
}

/*
#obrazek_link_do_jedzenia:hover{
    font-size: 60px;
    filter: brightness(0.5);
}

#paragraf_3{
    position: relative;
    text-align: center;
    top: 1%;
    font-size: 35px;
    color: white;

 }
*/
#sociale{
    position: absolute;
    background-color: rgb(85, 6, 6);
    color: white;
    font-size: 25px;
    text-align: center;
    top: 1550px;
    width: 100%;
    height: 120px;
    /*display: flex;
    justify-content: center;*/
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
    /*border: solid red;*/
}
  
  .fa-facebook{
    background: rgb(85, 6, 6);
    color: white;
}
  
.fa-twitter{
    background: rgb(85, 6, 6);
    color: white;
}
  
.fa-instagram{
    background: rgb(85, 6, 6);
    color: white;
 }
  
.fa-youtube{
    background: rgb(85, 6, 6);
    color: white;
 }

/*
.social{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.social:hover{
    opacity: 0.7;
}


.soc-facebook{
    background: #3B5998;
    color: white;
}
  
.soc-insagram{
    background: #55ACEE;
    color: white;
}
*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0px;
    max-width: 100vw;
    /*position: absolute;
    background-color: black;
    top: 2000px; 
    /* bottom: 0px; 
    width: 100%;
    height: 80px;
    color: white;
    font-size: 15px;
    text-align: center; */
 }

 #dane_autora{
    position: relative;
    top: 60px;
 }

 #pozycja_w_menu{
    position: absolute; 
    top: 150px;
    left: 90px;
    font-size: 55px;
    color: black;
 }

 #tlo_menu{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 1469px;
    height: 1800px;
    background-color: white;
 }

 #malinowe_cappuccino{
    position: relative;
    top: 20px;
    /* left: 80px;*/
    left: 5%;
    width: 600px;
    height: 450px;
    background-image: url(zdj_malinowe_cappuccino.png);
 }

 #malinowe_cappuccino_opis{
    position: relative;
    float: left;
    top: 0px;
    /*left: 80px;*/
    left: 5%;
    width: 600px;
    height: 250px;
    background-color: rgb(254, 240, 205);
 }

 #tonic_espresso{
    position: absolute;
    float: right;
    top: 20px;
    right: 5%;
    width: 600px;
    height: 450px;
    background-image: url(marakuja.jpg);
 }

 #tonic_espresso_opis{
    position: relative;
    float: right;
    top: 0px;
    right: 5%;
    width: 600px;
    height: 250px;
    background-color: rgb(254, 240, 205);
 }

 #freddo_espresso{
    position: relative;
    top: 350px;
    left: 80px;
    width: 600px;
    height: 450px;
    background-image: url(freddo_espresso.png);
 }

 #freddo_espresso_opis{
    position: relative;
    top: 350px;
    left: 80px;
    width: 600px;
    height: 250px;
    background-color: rgb(254, 240, 205);
 }

 #cappuccino{
    position: absolute;
    top: 800px;
    left: 800px;
    width: 600px;
    height: 450px;
    background-image: url(cappuccino.png);
 }

 #cappuccino_opis{
   position: absolute;
   top: 1250px;
   left: 800px;
   width: 600px;
   height: 250px;
   background-color: rgb(254, 240, 205);
 }

 #espresso_macchiato{
    position: relative;
    top: 500px;
    left: 80px;
    width: 600px;
    height: 450px;
    background-image: url(espresso_macchiato.jpg);
 }
 #espresso_macchiato_opis{
    position: relative;
    top: 500px;
    left: 80px;
    width: 600px;
    height: 250px;
    background-color: rgb(254, 240, 205);
 }